* {
    box-sizing: border-box;
}

:root {
    --clr-neon: rgb(255, 31, 79);
    --clr-bkg: rgb(67, 56, 48);
}

body {
    font-family: lato, sans-serif;
    margin: 0;
    background-color: rgb(245, 245, 245);
    color: rgb(67, 56, 48);
    font-size: 18px;
}

nav {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

h1 {
    align-self: center;
    letter-spacing: 1px;
    color: rgb(242, 36, 80);
    font-size: 18px;
}

p {
    text-align: center;
    margin: 0;
}

nav img {
    max-height: 120px;
}

.logo {
    align-self: center;
    padding: 1em 0 0.5em;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 0;
    letter-spacing: 1px;
}

li a {
    color: rgb(67, 56, 48);
    text-decoration: none;
}

li a:hover {
    color: rgb(242, 36, 80);
}

h2 {
    font-size: 2em;
    color: rgb(76, 140, 185);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: raleway, sans-serif;
    text-align: center;
}

.sub-heading {
    line-height: 2.5em;
    letter-spacing: 1px;
    padding: 2em 0;
    color: rgb(230, 221, 216);
}

.about img {
    max-width: 50ch;
    border-radius: 50%;
    margin: 2em 2em;
    border: 4px solid rgb(230, 221, 216);
}

.banner {
    display: flex;
    background-color: rgb(67, 56, 48);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 0;
}

.banner-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-card > * {
    flex: 1 1 100%;
    max-width: 600px;
}

.text {
    padding: 0em 2em 2em 2em;
}

.neon-button {
    margin: 1.5em 0 3em 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    
    text-shadow: 0 0 0.125em rgb(255, 255, 255, 0.3), 0 0 1em var(--clr-neon);

    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    
    transition: background-color 100ms linear;

    position: relative;
}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1.5em) rotateX(40deg) scale(1, 0.45);
    filter: blur(1.5em);
    opacity: 0.5;
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0.2;
    transition: opacity 300ms linear;
}

.neon-button:hover, 
.neon-button:focus {
    background-color: var(--clr-neon);
    color: var(--clr-bkg);
    text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
}

.portfolio h2, .team h2 {
    color: rgb(245, 245, 245);
    margin: 0;
    padding: 1em 0 0 0;
}

.portfolio {
    background-color: rgb(76, 140, 185);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 2em 4em 2em;
    gap: 3em;
}

h3 {
    color: rgb(76, 140, 185);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
}

.project-card {
    border: 2px solid rgb(230, 221, 216);
    background-color: rgb(245, 245, 245);
    max-width: 400px;
}

.project-card img {
    max-width: 300px;
    margin: 25px 50px 0;
    justify-content: center;
    border: 1px solid rgb(67, 56, 48);
}

.socials {
    background-color: rgb(230, 221, 216);
    margin: 0;
    padding: 3em 0 2em;
}

.socials img {
    max-width: 3em;
    padding: 0 1em 0 0;
}

.socials ul {
    justify-content: space-around;
}

.socials li {
    display: flex;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team {
    background-color: rgb(242, 36, 80, 0.9);
}

.team h3 {
    font-weight: bold;
    color: rgb(245, 245, 245);
}

.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 0;
    gap: 4em;
}

.individual img {
    border-radius: 50%;
   
}

.individual > * {
    flex: 1 1 100%;
    max-width: 300px;
}

footer p {
    color: rgb(67, 56, 48);
}

footer {
    background-color: rgb(245, 245, 245);    
}

footer img {
    max-width: 120px;
}

.contact {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright {
    border-top: 1px solid rgb(67, 56, 48);
    padding: 2em 0;
    text-transform: uppercase;
    font-size: 0.75em;
}